image: node:6

before_script:
  - npm install

cache:
  paths:
    - node_modules/

# test:lint:
#   script:
#     - npm run lint

build:
  stage: deploy
  script:
    - git checkout -b master
    - git commit -m "Test pushing to Heroku at $(date)"
    - git branch -v
    - git push https://heroku:$HEROKU_API_KEY@git.heroku.com/museum-art.git master
  only:
    - master
